(venv) PS C:\BTech CSE AIML(2024-2028)\Github_Project\HACA-Academy\Version_1.0\devpulse_build> git add templates/login.html
>> git commit -m "Add subtle animated background and fade-in entrance to login page"
>> git push
On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
        modified:   templates/dashboard.html

no changes added to commit (use "git add" and/or "git commit -a")
Everything up-to-date
(venv) PS C:\BTech CSE AIML(2024-2028)\Github_Project\HACA-Academy\Version_1.0\devpulse_build> 